<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class='container'>

<header>
    <% include ../partials/header %>
</header>

<div>
  <p> <%= params.name %> </p>
  <p> <%= params.email %> </p>
  <p> <%= params.location %> </p>
  <p> <%= params.capacity %> </p>
  <p> <%= params.cost %> </p>
  <p> <%= params.description %> </p>
</div>

</body>
</html>
